.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label{
    padding: .7em;
    border-radius: 0;
    border: none;
    color:black;
    font-weight: bold;
}

.form_control input{
    padding: 10px;
    width: 1000px;
}

.form_control input::placeholder{
    color:gold;
}